* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
/* rgb(166, 194, 231) */
.btn button {
  font-size: 1rem;
  background-color: #a8d0db;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.play {
  font-size: 1rem;
  background-color: rgb(224, 235, 245);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: aliceblue;
}
section {
  text-align: center;
}
.userChoice {
  padding: 1rem;
}
.scoreBoard {
  background-color: rgb(224, 235, 245);
  font-weight: bold;
  padding: 1rem;
}
